:host { 
    .container {
        padding-top: 100px;
        padding-bottom: 200px;
    }
    .label {
        font-weight: bold;
    }
    .dance-overview {
        margin-bottom: 30px;
    }
    .btn.btn-primary {
        color: #fff;
        background-color: #28a745;
        border-color: #28a745;
       
    }
}