<div class="container">
    <app-dance-panel (filterClick)="onFilter($event)" (newDanceClick)="onNewDance()" (onAscDateClick)="sortByDateAsc()" (onDescDateClick)="sortByDateDesc()" (onAscPriceClick)="sortByPriceAsc()" (onDescPriceClick)="sortByPriceDesc()"></app-dance-panel>
    
    <div class="form-group">
        <input type="search" class="form-control" placeholder="Szukaj..." [(ngModel)]="danceToSearch">
        <button class="btn btn-primary" (click)="onSearchClick()">Wyszukaj</button>
    </div>

    <div *ngIf="dances$ | async as dances; else loading">
        <div class="row">
            <div class="col-lg-4 dance-overview" *ngFor="let dance of dances">
                <app-dance-card [dance]="dance"></app-dance-card>
            </div>
        </div>
    </div>
</div>

<ng-template #loading>
    <div>Dances are loading...</div>
</ng-template>
